/* Button.module.css */
.button {
  border: none;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--border-radius-base);
  cursor: pointer;
  transition: background-color var(--transition-base);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);

  &.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  &.sm {
    padding: var(--space-xs) var(--space-sm);
    font-size: var(--font-size-sm);
  }

  &.md {
    padding: var(--space-sm) var(--space-md);
    font-size: var(--font-size-md);
  }

  &.lg {
    padding: var(--space-md) var(--space-lg);
    font-size: var(--font-size-lg);
  }
}
