.post {
  border-radius: var(--border-radius-base);
  border-top: var(--border-style-base) var(--border-color);
  border-bottom: var(--border-style-base) var(--border-color);
  & .title {
    text-decoration: underline;
    text-transform: capitalize;
  }

  & .text {
    width: 100%;
    max-width: 600px;
    text-transform: capitalize;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
  }

  & .comments,
  & .user {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    white-space: nowrap;
  }

  &:hover {
    backdrop-filter: brightness(1.2);
  }
}
