/* ErrorFallback.module.css */
.errorFallback {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.errorTitle {
    color: var(--text-lighter-color);
    font-weight: bold;
  }

  &.errorMessage {
    color: var(--text-darker-color);
    width: 100%;
    max-width: 400px;
  }

  &.refreshButton {
    margin-top: var(--space-md);
  }
}
